

td{
    height: 25px;
    width: 25px;
    font-size: small;
    border-radius: 2px;
    transition: 1s ease;
    }
td:hover{
    /* height: 35px;
    width: 35px; */
    transform: scale(2);
    z-index: 1;

}
sup{
    padding-right:5px; 
    font-size:xx-small;
}